<div class='top-nav'>
  <div class='logo-nav' routerLink=''>
    <img src='assets/images/logo.png' alt=''/>
  </div>
  <div class='link-nav'>
    <li>FAQ</li>
    <li>Contact</li>
  </div>
  <div class='auth-nav'>
    <button *ngIf='!user' routerLink='sign-in' mat-raised-button color="primary">Sign in
    </button>
    <button *ngIf='user' (click)="logout()" mat-raised-button color="primary">Log out
    </button>
  </div>
</div>
<div class='router-section'>
  <router-outlet></router-outlet>
</div>
